name: CI

on:
  push:
    branches-ignore:
      - dependabot/*
  pull_request:
  workflow_dispatch:

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    outputs:
      package_version: ${{ steps.build_script.outputs.package_version }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"
      - name: Run build script
        id: build_script
        run: ./build.ps1 -ci
      - uses: actions/upload-artifact@v4
        if: ${{ matrix.os == 'windows-latest' }}
        with:
          name: packages
          path: artifacts/
          if-no-files-found: error
      - uses: codecov/codecov-action@v5
        with:
          name: unittests-${{ matrix.os }}
          fail_ci_if_error: true
          token: ${{secrets.CODECOV_TOKEN}}
  release:
    if: github.ref == 'refs/heads/main' && !contains(github.event.head_commit.message, 'skip release') && github.actor != 'dependabot[bot]'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      packages: write
    env:
      PACKAGE_VERSION: ${{ needs.build.outputs.package_version }}
    steps:
      - run: echo "Releasing ${{ env.PACKAGE_VERSION }}"
      - uses: actions/download-artifact@v4
        with:
          name: packages
          path: packages
      - name: Login to NuGet
        id: nuget-login
        uses: nuget/login@v1
        with:
          nuget-server: https://api.nuget.org/v3/index.json
          user: natemcmaster
      - name: Configure GitHub NuGet registry
        run: dotnet nuget add source --name github --username ${{ github.repository_owner }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
      - name: Push to GitHub package registry
        run: dotnet nuget push packages/*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }} --source github --skip-duplicate
      - name: Push to NuGet.org
        run: dotnet nuget push packages/*.nupkg --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ env.PACKAGE_VERSION }}
          tag_name: v${{ env.PACKAGE_VERSION }}
          generate_release_notes: true
          body: |
            ## How to get this update
            Update to the latest version:

            ```
            dotnet tool update -g dotnet-serve
            ```

            Packages have been posted to these feeds:

            #### NuGet.org
            https://nuget.org/packages/dotnet-serve/${{ env.PACKAGE_VERSION }}

            #### GitHub Package Registry
            https://github.com/natemcmaster?tab=packages&repo_name=dotnet-serve

          draft: false
          prerelease: false
          files: packages/*
